@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

.hero-text,
.brand-logo{
    color: #4f46e5;
}

.file-selector-common::file-selector-button{
    height: 35px;
    width: 110px;
    border: none;
    background: #4f46e5;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    font-weight: bold;
    text-align: center;
}

.file-selector-common::file-selector-button:hover{
    background: transparent;
    border: 1.5px solid #4f46e5;
    color: #4f46e5;
}

.artist-title a{
    background-color: #C900FF;
    color: white;
}

.artist-logo{
    background-color: #4f46e5;
    color: white;
}

.social-btn .yt-btn{
    color: red;
}

.social-btn .yt-btn:hover{
    color: white;
}

.social-btn .insta-btn{
    color: rgb(255, 0, 157);
}

.social-btn .insta-btn:hover{
    color: white;
}